@import './base.styl';
@import './common.styl';

.swiper-container {
    height: 100%;
}
.swiper-slide {
    font-size: 100px;
    box-sizing: border-box;
    // border: 10px solid hotpink
}
.loading {    
    height: 100%;
    width: 100%;
    background-color: #ffece9;
    position: absolute;
    top:0;
    z-index: 2;
    .rider {
        whRem(154,121)
        background:url('../images/loading/rider1_.png') no-repeat center / 100% 100%;
        position: absolute;
        top:p2r(233);
        right:p2r(108);
    }
    .progress {
        whRem(416,20)
        background-color #fc2e4d;
        border:2px solid #373838;
        border-radius:p2r(20);
        position:absolute;
        left: 50%;
        margin-left: p2r(-416/2);
        top:p2r(360);
    }
    .info { 
        whRem(220,28)
        bgc('../images/loading/loading-txt.png',220)
        top:p2r(420);
    }
    .logo {
        whRem(162,39)
        bgc('../images/loading/waimai-logo.png',162)
        bottom:(118/32)*1rem;
    }
    .copyright{
        font-size:p2r(24);
        color: #e0979d;
        position:absolute;
        bottom:p2r(73);
        left:50%;
        white-space: nowrap;
        transform: translateX(-50%)
    }
}
.welcome {
    height: 100%;
    width: 100%;
    background-color: deepskyblue;    
    position: absolute;
    top:0; 
    z-index: 1;
    .info{
        whRem(397,224)
        bgc('../images/page1/theme-title.png',397)
        top:p2r(42);
        .hello {
            whRem(70,75)
            bg('../images/page1/hello.png')
            top:p2r(20);
            right:p2r(8);
        }        
    } 
    .bear-box {
        whRem(167,279)
        position:absolute;
        bottom:p2r(346);
        left: 50%;
        margin-left: p2r(-167/2);            
        .bear {
            width: 100%;
            height: 100%;
            bg('../images/page1/rider2.png')
            top:0;
            left:0;
        }
        .smoke {
            whRem(167,32)
            bg('../images/page1/jet1.png')
            bottom:0;
            left:0;
        }
    } 
    .cloud { /*云*/
        whRem(640,673)
        bg('../images/page1/clouds.png')
        bottom:0;
    } 
    .grass1 {  /*草地1*/
        whRem(640,396)
        bg('../images/page1/grass1.png')
        bottom:0;
    }         
    .trees { /*树*/
        whRem(599,71)
        bg('../images/page1/trees.png')
        bottom:p2r(352);
    }  
    .grass2 { /*草地2*/
        whRem(640,228)
        bg('../images/page1/grass2.png')
        bottom:0;
    }   
    // 旋转按钮
    .rotate-btn-box {
        whRem(208,208)        
        position: absolute;
        bottom:p2r(86);
        left: 50%;
        margin-left: p2r(-208/2);
        display: flex;
        align-items: center
        justify-content: center;
        .btn {
            whRem(124,113)
            background: url('../images/page1/bear-btn-pre.png') no-repeat center / 100% 100%;
        }
        .circle1 {
            width: 100%;
            height: 100%;
            position: absolute;
            left 0;
            top: 0;
            background: url('../images/page1/circle1.png') no-repeat center / 100% 100%;
        }
        .circle2 {
            width: 100%;
            height: 100%;
            position: absolute;
            left 0;
            top: 0;
            background: url('../images/page1/circle2.png') no-repeat center / 100% 100%;
        }
    }     
}

// 轮播图的页面
.page1 {
    background-color: #BE8651;
    .title {
        position:absolute;
        left: p2r(32);
        top: p2r(32);
        padding-left: p2r(20);
        h3 {
            color:#fff;
            font-size:p2r(64);
        }
        p{
            color:#fff;
            font-size:p2r(24);
            padding-top: p2r(12);
        }
        .line{
            height: 100%;
            width: p2r(5);
            background-color #fff;
            position: absolute;
            top:0;
            left:0;
        }
    }
    // 星球
    .sphere{
        whRem(640,356)
        bgc('../images/page2/sphere1.png',640)
        bottom:p2r(0);
        z-index:1;
    }
    // 熊
    .bear {
        whRem(178,134)
        bg('../images/page2/bear1.png',178)
        right:p2r(38);
        bottom:0;
        z-index:1;
    }
    .scroll-page1 { //轮播区域1
        .bg{
            whRem(576,573)
            bgc('../images/page2/bg1.png',576)
            bottom:p2r(252);
            z-index:0;
        }
        .person {
            whRem(439,349)
            bgc('../images/page2/front1.png',439)
            bottom:p2r(290);
            z-index: 2;
            .files {
                background-image:url('../images/page2/papers.png')
                background-repeat: no-repeat;
                background-position: bottom right;
                background-size: p2r(115) p2r(114);
                whRem(85,50)
                bottom: p2r(104);
                left: p2r(27);
                position:absolute;
                .paper1{
                    background-image:url('../images/page2/papers.png')
                    background-repeat: no-repeat;
                    background-position: 0 p2r(-32);
                    background-size: p2r(115) p2r(114);
                    whRem(86,26)
                    bottom: p2r(45);
                    left: p2r(-70);
                    position:absolute;
                }
                .paper2{
                    background-image:url('../images/page2/papers.png')
                    background-repeat: no-repeat;
                    background-position: p2r(-45) 0;
                    background-size: p2r(115) p2r(114);
                    whRem(64,20)
                    bottom: p2r(80);
                    right: 0;
                    position:absolute;
                }
            }
        }        
        .message-container {
            whRem(363,119)
            bg('../images/page2/txt-bubbl.png')
            bottom:p2r(140);
            right:p2r(140);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .info {
                whRem(220,30)
                bg('../images/page2/txt-work.png')
            }
        }
    }
    .scroll-page2 { //轮播区域2
        .bg{
            whRem(582,520)
            bgc('../images/page2/bg2.png',582)
            bottom:p2r(252);
            z-index: 0;
        }
        .person {
            whRem(436,332)
            bgc('../images/page2/relax.png',436)
            bottom:p2r(270);
            z-index: 2;
            .leg1 {
                whRem(113,24)
                bg('../images/page2/leg1.png')
                bottom: p2r(110);
                left: p2r(195);
            }
            .leg2 {
                whRem(85,71)
                bg('../images/page2/leg2.png')
                bottom: p2r(120);
                left: p2r(193);
            }
        }
        .message-container {
            whRem(363,119)
            bg('../images/page2/txt-bubbl.png')
            bottom:p2r(140);
            right:p2r(140);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .info {
                whRem(224,31)
                bg('../images/page2/txt-life.png')
            }
        }
    }
    .scroll-page3 { //轮播区域3
        .bg{
            whRem(561,516)
            bgc('../images/page2/bg3.png',561)
            bottom:p2r(270);
            z-index: 0;
        }
        .person {
            whRem(503,229)
            bgc('../images/page2/person.png',503)
            bottom:p2r(300);
            z-index: 2; 
            .word1 {
                bg('../images/page2/word1.png')
                whRem(92,83)
                left: p2r(7)
                bottom: p2r(194)
            }         
            .word2 {
                bg('../images/page2/word2.png')
                whRem(77,70)
                left: p2r(115);
                bottom: p2r(245);
            }         
            .word3 {
                bg('../images/page2/word3.png')
                whRem(115,104)
                right: p2r(130);
                bottom: p2r(220);
            }         
            .word4 {
                bg('../images/page2/word4.png')
                whRem(79,73)
                right: p2r(12)
                bottom: p2r(230)
            }         
        }
        .message-container {
            whRem(363,119)
            bg('../images/page2/txt-bubbl.png')
            bottom:p2r(140);
            right:p2r(140);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .info {
                whRem(220,30)
                bg('../images/page2/txt-res.png')
            }
        }
    }
}
.page2 {
    background-color: #EE4143;
    .title {
        position:absolute;
        left: p2r(32);
        top: p2r(32);
        padding-left: p2r(20);
        h3 {
            color:#fff;
            font-size:p2r(64);
        }
        p{
            color:#fff;
            font-size:p2r(24);
            padding-top: p2r(12);
        }
        .line{
            height: 100%;
            width: p2r(5);
            background-color #fff;
            position: absolute;
            top:0;
            left:0;
        }
    }
    .bg{
        whRem(592,490)
        bgc('../images/page3/bg4_.png',592)
        bottom:p2r(330);
        z-index:0;
    }
    .bear {
        background-image:url('../images/page3/bear2.png');
        background-repeat: no-repeat;
        background-size: p2r(368) p2r(427);
        background-position: p2r(-103) p2r(-96);
        position: absolute;
        bottom: p2r(310);
        left: 50%;
        whRem(227,336)
        margin-left: p2r(-227/2);
        z-index: 1;
        .face1 {
            bg('../images/page3/face1.png')
            whRem(102,102)
            top:0;
            left: p2r(-102)
        }
        .face2 {
            bg('../images/page3/face2.png')
            whRem(102,102)
            top:p2r(-102);
            right: p2r(-101/2)
        }
        .hand-left {
            bg('../images/page3/hand-left_.png')
            whRem(74,77)
            top: p2r(180);
            left: p2r(30);
        }
        .hand-right {
            bg('../images/page3/hand-right.png')
            whRem(74,77)
            top: p2r(180);
            right: p2r(30);
        }
    }
    .sphere {
        whRem(640,356)
        bg('../images/page3/sphere2.png')
        bottom:0;
        z-index:0;
    }
    // 桌子
    .table {
        bgc('../images/page3/table.png',514)
        whRem(514,258)
        bottom:p2r(140);
        z-index: 1;
    }
    // 桌子
    .food {
        bgc('../images/page3/foods.png',354)
        whRem(354,152)
        bottom:p2r(330);
        z-index: 1;
    }
}
.page3 {
    background-color: #DD8A03;
}
.page4 {
    background-color: #3FA100;
}
.page5 {
    background-color: #0098CF;
}
.page6 {
    background-color: #B527A0;
}
.page7 {
    background-color: #19072A;
}