@import './base.styl';
@import './common.styl';

.swiper-container {
    height: 100%;
}
.swiper-slide {
    font-size: 100px;
    box-sizing: border-box;
    // border: 10px solid hotpink
}
.loading {    
    height: 100%;
    width: 100%;
    background-color: #ffece9;
    position: absolute;
    top:0;
    z-index: 3;
    .rider {
        whRem(154,121)
        background:url('../images/loading/rider1_.png') no-repeat center / 100% 100%;
        position: absolute;
        top:p2r(233);
        right:p2r(108);
    }
    .progress {
        whRem(416,20)
        background-color #fc2e4d;
        border:2px solid #373838;
        border-radius:p2r(20);
        position:absolute;
        left: 50%;
        margin-left: p2r(-416/2);
        top:p2r(360);
    }
    .info { 
        whRem(220,28)
        bgc('../images/loading/loading-txt.png',220)
        top:p2r(420);
    }
    .logo {
        whRem(162,39)
        bgc('../images/loading/waimai-logo.png',162)
        bottom:(118/32)*1rem;
    }
    .copyright{
        font-size:p2r(24);
        color: #e0979d;
        position:absolute;
        bottom:p2r(73);
        left:50%;
        white-space: nowrap;
        transform: translateX(-50%)
    }
}
.welcome {
    height: 100%;
    width: 100%;
    background-color: deepskyblue;    
    position: absolute;
    top:0; 
    z-index: 2;
    .info{
        whRem(397,224)
        bgc('../images/page1/theme-title.png',397)
        top:p2r(42);
        .hello {
            whRem(70,75)
            bg('../images/page1/hello.png')
            top:p2r(20);
            right:p2r(8);
        }        
    } 
    .bear-box {
        whRem(167,279)
        position:absolute;
        bottom:p2r(346);
        left: 50%;
        margin-left: p2r(-167/2);            
        .bear {
            width: 100%;
            height: 100%;
            bg('../images/page1/rider2.png')
            top:0;
            left:0;
        }
        .smoke {
            whRem(167,32)
            bg('../images/page1/jet1.png')
            bottom:0;
            left:0;
        }
    } 
    .cloud { /*云*/
        whRem(640,673)
        bg('../images/page1/clouds.png')
        bottom:0;
    } 
    .grass1 {  /*草地1*/
        whRem(640,396)
        bg('../images/page1/grass1.png')
        bottom:0;
    }         
    .trees { /*树*/
        whRem(599,71)
        bg('../images/page1/trees.png')
        bottom:p2r(352);
    }  
    .grass2 { /*草地2*/
        whRem(640,228)
        bg('../images/page1/grass2.png')
        bottom:0;
    }   
    // 旋转按钮
    .rotate-btn-box {
        whRem(208,208)        
        position: absolute;
        bottom:p2r(86);
        left: 50%;
        margin-left: p2r(-208/2);
        display: flex;
        align-items: center
        justify-content: center;
        .btn {
            whRem(124,113)
            background: url('../images/page1/bear-btn-pre.png') no-repeat center / 100% 100%;
        }
        .circle1 {
            width: 100%;
            height: 100%;
            position: absolute;
            left 0;
            top: 0;
            background: url('../images/page1/circle1.png') no-repeat center / 100% 100%;
        }
        .circle2 {
            width: 100%;
            height: 100%;
            position: absolute;
            left 0;
            top: 0;
            background: url('../images/page1/circle2.png') no-repeat center / 100% 100%;
        }
    }     
}

.title {
    position:absolute;
    left: p2r(32);
    top: p2r(32);
    padding-left: p2r(20);
    h3 {
        color:#fff;
        font-size:p2r(64);
    }
    p{
        color:#fff;
        font-size:p2r(24);
        padding-top: p2r(12);
    }
    .line{
        height: 100%;
        width: p2r(5);
        background-color #fff;
        position: absolute;
        top:0;
        left:0;
    }
}

// 轮播图的页面
.page1 {
    background-color: #BE8651;    
    // 星球
    .sphere{
        whRem(640,356)
        bgc('../images/page2/sphere1.png',640)
        bottom:p2r(0);
        z-index:1;
    }
    // 熊
    .bear {
        whRem(178,134)
        bg('../images/page2/bear1.png',178)
        right:p2r(38);
        bottom:0;
        z-index:1;
    }
    .scroll-page1 { //轮播区域1
        .bg{
            whRem(576,573)
            bgc('../images/page2/bg1.png',576)
            bottom:p2r(252);
            z-index:0;
        }
        .person {
            whRem(439,349)
            bgc('../images/page2/front1.png',439)
            bottom:p2r(290);
            z-index: 2;
            .files {
                background-image:url('../images/page2/papers.png')
                background-repeat: no-repeat;
                background-position: bottom right;
                background-size: p2r(115) p2r(114);
                whRem(85,50)
                bottom: p2r(104);
                left: p2r(27);
                position:absolute;
                .paper1{
                    background-image:url('../images/page2/papers.png')
                    background-repeat: no-repeat;
                    background-position: 0 p2r(-32);
                    background-size: p2r(115) p2r(114);
                    whRem(86,26)
                    bottom: p2r(45);
                    left: p2r(-70);
                    position:absolute;
                }
                .paper2{
                    background-image:url('../images/page2/papers.png')
                    background-repeat: no-repeat;
                    background-position: p2r(-45) 0;
                    background-size: p2r(115) p2r(114);
                    whRem(64,20)
                    bottom: p2r(80);
                    right: 0;
                    position:absolute;
                }
            }
        }        
        .message-container {
            whRem(363,119)
            bg('../images/page2/txt-bubbl.png')
            bottom:p2r(140);
            right:p2r(140);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .info {
                whRem(220,30)
                bg('../images/page2/txt-work.png')
            }
        }
    }
    .scroll-page2 { //轮播区域2
        .bg{
            whRem(582,520)
            bgc('../images/page2/bg2.png',582)
            bottom:p2r(252);
            z-index: 0;
        }
        .person {
            whRem(436,332)
            bgc('../images/page2/relax.png',436)
            bottom:p2r(270);
            z-index: 2;
            .leg1 {
                whRem(113,24)
                bg('../images/page2/leg1.png')
                bottom: p2r(110);
                left: p2r(195);
            }
            .leg2 {
                whRem(85,71)
                bg('../images/page2/leg2.png')
                bottom: p2r(120);
                left: p2r(193);
            }
        }
        .message-container {
            whRem(363,119)
            bg('../images/page2/txt-bubbl.png')
            bottom:p2r(140);
            right:p2r(140);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .info {
                whRem(224,31)
                bg('../images/page2/txt-life.png')
            }
        }
    }
    .scroll-page3 { //轮播区域3
        .bg{
            whRem(561,516)
            bgc('../images/page2/bg3.png',561)
            bottom:p2r(270);
            z-index: 0;
        }
        .person {
            whRem(503,229)
            bgc('../images/page2/person.png',503)
            bottom:p2r(300);
            z-index: 2; 
            .word1 {
                bg('../images/page2/word1.png')
                whRem(92,83)
                left: p2r(7)
                bottom: p2r(194)
            }         
            .word2 {
                bg('../images/page2/word2.png')
                whRem(77,70)
                left: p2r(115);
                bottom: p2r(245);
            }         
            .word3 {
                bg('../images/page2/word3.png')
                whRem(115,104)
                right: p2r(130);
                bottom: p2r(220);
            }         
            .word4 {
                bg('../images/page2/word4.png')
                whRem(79,73)
                right: p2r(12)
                bottom: p2r(230)
            }         
        }
        .message-container {
            whRem(363,119)
            bg('../images/page2/txt-bubbl.png')
            bottom:p2r(140);
            right:p2r(140);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .info {
                whRem(220,30)
                bg('../images/page2/txt-res.png')
            }
        }
    }
}
.page2 {
    background-color: #EE4143;
    .bg{
        whRem(592,490)
        bgc('../images/page3/bg4_.png',592)
        bottom:p2r(330);
        z-index:0;
    }
    .bear {
        background-image:url('../images/page3/bear2.png');
        background-repeat: no-repeat;
        background-size: p2r(368) p2r(427);
        background-position: p2r(-103) p2r(-96);
        position: absolute;
        bottom: p2r(310);
        left: 50%;
        whRem(227,336)
        margin-left: p2r(-227/2);
        z-index: 1;
        .face1 {
            bg('../images/page3/face1.png')
            whRem(102,102)
            top:0;
            left: p2r(-102)
        }
        .face2 {
            bg('../images/page3/face2.png')
            whRem(102,102)
            top:p2r(-102);
            right: p2r(-101/2)
        }
        .hand-left {
            bg('../images/page3/hand-left_.png')
            whRem(74,77)
            top: p2r(180);
            left: p2r(30);
        }
        .hand-right {
            bg('../images/page3/hand-right.png')
            whRem(74,77)
            top: p2r(180);
            right: p2r(30);
        }
    }
    .sphere {
        whRem(640,356)
        bg('../images/page3/sphere2.png')
        bottom:0;
        z-index:0;
    }
    // 桌子
    .table {
        bgc('../images/page3/table.png',514)
        whRem(514,258)
        bottom:p2r(140);
        z-index: 1;
    }
    // 桌子
    .food {
        bgc('../images/page3/foods.png',354)
        whRem(354,152)
        bottom:p2r(330);
        z-index: 1;
    }
}
.page3 {
    background-color: #DD8A03;
    .bg{
        whRem(592,580)
        bgc('../images/page4/bg5.png',592)
        bottom:p2r(300);
        z-index:0;
    }
    .bear {
        bgc('../images/page4/bear3.png',206)
        whRem(206,321)
        bottom: p2r(195);
        z-index: 1;
    }
    .sphere {
        whRem(640,356)
        bg('../images/page4/sphere3.png')
        bottom:0;
        z-index:0;
    }
    .license {
        bg('../images/page4/license.png')
        whRem(197,140)
        bottom: p2r(500);
        left: p2r(40);
    }
    .oil {
        bgc('../images/page4/oil.png',205)
        whRem(205,107)
        bottom: p2r(660);
    }
    .evil {
        bg('../images/page4/evil2.png')
        whRem(198,163)
        bottom: p2r(480);
        right: p2r(30);
    }
}
.page4 {
    background-color: #3FA100;
    .bg{
        whRem(588,333)
        bgc('../images/page5/bg6.png',588)
        bottom:p2r(300);
        z-index:0;
    }
    .bear {
        bg('../images/page5/bear4.png')
        whRem(309,325)
        bottom: p2r(170);
        left: p2r(200);
        z-index: 1;
    }
    .sphere {
        whRem(640,356)
        bg('../images/page5/sphere4.png')
        bottom:0;
        z-index:0;
    }
    .card1 {
        bg('../images/page5/card1.png')
        whRem(160,175)
        bottom: p2r(435);
        left: p2r(32);
    }
    .card2 {
        bgc('../images/page5/card2.png',161)
        whRem(161,209)
        bottom: p2r(530);
    }
    .card3 {
        bg('../images/page5/card3.png')
        whRem(167,184)
        bottom: p2r(430);
        right: p2r(45);
    }
}
.page5 {
    background-color: #0098CF;
    .bg{
        whRem(594,493)
        bgc('../images/page6/bg7.png',594)
        bottom:p2r(300);
        z-index:0;
    }
    .bear {
        bgc('../images/page6/rider2.png',230)
        whRem(230,390)
        bottom: p2r(175);
        z-index: 1;
        .smoke {
            bgc('../images/page6/shadow.png',114)
            whRem(114,26)
            bottom: 0;
        }
    }
    .sphere {
        whRem(640,356)
        bg('../images/page6/sphere5.png')
        bottom:0;
        z-index:0;
    }
    .cloud {
        bgc('../images/page6/weather-cloud.png',432)
        whRem(432,160)
        bottom: p2r(175+390+80);
    }
}
.page6 {
    background-color: #B527A0;
    .bg{
        whRem(588,333)
        bgc('../images/page7/bg8.png',588)
        bottom:p2r(300);
        z-index:0;
    }
    .bear {
        bgc('../images/page7/bear5.png',285)
        whRem(285,328)
        bottom: p2r(200);
        z-index: 1;
        .gift-box{
            position: absolute;
            top: 0;
            left: 50%;
            .gift1 {
                bgc('../images/page7/gift1.png',39)
                whRem(39,25)
                transform: rotateZ(28deg) translateY(p2r(240));
            }
            .gift2 {
                bgc('../images/page7/gift2.png',93)
                whRem(93,79)
                transform: rotateZ(28*2deg) translateY(p2r(240));
            }
            .gift3 {
                bgc('../images/page7/gift3.png',72)
                whRem(72,64)
                transform: rotateZ(28*3deg) translateY(p2r(240));
            }
            .gift4 {
                bgc('../images/page7/gift4.png',91)
                whRem(91,73)
                transform: rotateZ(28*4deg) translateY(p2r(240));
            }
            .gift5 {
                bgc('../images/page7/gift5.png',107)
                whRem(99,65)
                transform: rotateZ(28*5deg) translateY(p2r(240));
            }
            .gift6 {
                bgc('../images/page7/gift6.png',107)
                whRem(107,80)
                transform: rotateZ(28*6deg) translateY(p2r(240));
            }
            .gift7 {
                bgc('../images/page7/gift7.png',107)
                whRem(107,80)
                transform: rotateZ(28*7deg) translateY(p2r(240));
            }
            .gift8 {
                bgc('../images/page7/gift8.png',88)
                whRem(88,64)
                transform: rotateZ(28*8deg) translateY(p2r(240));
            }
            .gift9 {
                bgc('../images/page7/gift9.png',78)
                whRem(78,50)
                transform: rotateZ(28*9deg) translateY(p2r(240));
            }
            .gift10 {
                bgc('../images/page7/gift10.png',49)
                whRem(49,37)
                transform: rotateZ(28*10deg) translateY(p2r(240));
            }
            .gift11 {
                bgc('../images/page7/gift11.png',51)
                whRem(51,31)
                transform: rotateZ(28*11deg) translateY(p2r(240));
            }
            .gift12 {
                bgc('../images/page7/gift12.png',37)
                whRem(37,23)
                transform: rotateZ(28*12deg - 5deg) translateY(p2r(240));
            }
        }
    }
    .sphere {
        whRem(640,356)
        bg('../images/page7/sphere6.png')
        bottom:0;
        z-index:0;
    }
}
.page7 {
    background-color: #19072A;
    .streetlight {
        bg('../images/page8/streetlight.png')
        whRem(80,443)
        bottom:p2r(300);
        left:p2r(240)
        .light{
            bg('../images/page8/lamplight.png')
            whRem(437,427)
            top:p2r(10);
            left: p2r(-140);
        }
    }
    .bear{
        bg('../images/page8/bear6.png')
        whRem(276,271)
        bottom:p2r(280);
        left: p2r(230)
    }
    .motobike {
        bg('../images/page8/moto.png')
        whRem(200,137)
        bottom:p2r(335);
        left: p2r(125);
    }
    .share {
        bgc('../images/page8/share.png',379)
        whRem(379,113)
        bottom:p2r(140);
    }
    .info {
        position:absolute;
        width: 100%;
        text-align: center;
        font-size:p2r(24);
        color:#b579d6;
        bottom:p2r(70);
    }
    .shpere {
        whRem(640,384)
        bg('../images/page8/sphere7.png')
        bottom:0;
        z-index:0;
    }
}

/*
    定义动画
*/
// 进度条动画
@keyframes steps {
    to {
        width: 100%;
    }
}
// 上下晃动前进动画
@keyframes bearRide {
    10% { transform: translateX(p2r(-26*1)) translateY(p2r(-5));}
    20% { transform: translateX(p2r(-26*2)) translateY(p2r(5));}
    30% { transform: translateX(p2r(-26*3)) translateY(p2r(-5));}
    40% { transform: translateX(p2r(-26*4)) translateY(p2r(5));}
    50% { transform: translateX(p2r(-26*5)) translateY(p2r(-5));}
    60% { transform: translateX(p2r(-26*6)) translateY(p2r(5));}
    70% { transform: translateX(p2r(-26*7)) translateY(p2r(-5));}
    80% { transform: translateX(p2r(-26*8)) translateY(p2r(5));}
    90% { transform: translateX(p2r(-26*9)) translateY(p2r(-5));}
    100% { transform: translateX(p2r(-26*10)) translateY(p2r(5));}
}

/*
    动画的样式  (先调整样式为动画的初始样式)
*/
.loading {
    .progress {
        background-color: transparent;
        .step {
            height: 100%;
            width: 20%;
            background-color:#FF2947;
            position: absolute;
            right:0;
        }
    }
}

/*触发动画*/
.loading.animate {
    .rider {
        animation: bearRide .5s linear forwards;
    }
    .step {
        animation: steps .5s linear forwards;
    }
}

//welcome页动画
@keyframes grass1 {
    from {}
    to {
        height: p2r(396);
    }
}
@keyframes grass2 {
    from {
        transform: scale(2,1)
    }
    to {
        opacity: 1;
    }
}
@keyframes trees {
    from {
        transform: translateY(-200%);
    }
    80% { transform: translateY(10%); opacity:1;}
    90% { transform: translateY(-10%); opacity:1;}
    100% { transform: none; opacity:1;}
}
@keyframes btnAppear {
    from { }
    to {opacity:1; transform: none;}
}
@keyframes rotate {
    from {}
    to { transform: rotate(360deg);}
}
@keyframes bearDown {
    from {
        transform: translateY(-50%)
    }
    to {
        transform: none;
        opacity: 1;
    }
}
@keyframes upandDown {
    from {
        transform: translateY(-5%);
    }
    to {
        transform: none;
    }
}
@keyframes small2big {
    from {
        transform: scale(0,0);
    }
    to {
        transform: none;
        opacity: 1;
    }
}
@keyframes bearDisappear {
    from {
        opacity: 1;
    }
    to {
        transform: translateY(100%) scale(1.5,1.5);
        opacity: 0;
    }
}

/*welcome页的默认样式*/
.welcome {
    .grass1 {
        height: p2r(20);
    }
    .grass2 {
        opacity: 0;
    }
    .trees {
        opacity: 0;
    }
    .rotate-btn-box {opacity: 0; transform: scale(0,0);}
    .bear-box {
        opacity: 0;
    }
    .smoke {
        opacity: 0;
    }
    .info {
        opacity: 0;
    }
    .hello {
        opacity: 0;
    }
}
.welcome.animate {
    .grass1 {
        animation: grass1 .5s forwards;
    }
    .grass2 {
        animation: grass2 .5s .5s forwards;
    }
    .trees {
        animation: trees .5s 1s forwards;
    }
    .rotate-btn-box {
        animation: btnAppear 0.5s 1.5s forwards;
    }
    .circle2 {
        animation: rotate 1s linear infinite;
    }
    .bear-box {
        animation: bearDown 0.5s 2s forwards;
    }
    .bear {
        animation: upandDown .5s 2.5s infinite;
    }
    .smoke {
        animation: small2big 0.5s 2.5s infinite;
    }
    .info {
        animation: bearDown 0.5s 3s forwards;
    }
    .hello {
        animation: small2big 0.5s 3.5s forwards;        
    }
}

// 所有slide页面共用的title动画
@keyframes right2left {
    from { transform: translateX(100%);}
    to{ transform: none; opacity:1;}
}
@keyframes heightBigger {
    from {}
    to {height: 100%;}
}

.title {
    h3 { opacity:0; }
    p { opacity:0; }
    .line { height:0%; }
}
.swiper-slide.animate {
    .title {
        h3 { animation: right2left .5s forwards; }
        p { animation: right2left .5s .2s forwards; }
        .line { animation: heightBigger .5s 0.7s forwards; }
    }
}